@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body {
  font-size: 62.5%;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

body {
  background: #f1f1f1;
  color: #232323;
}

h1, h2, h3, p, {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 25px;
  padding-bottom: 25px;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

button {
  margin: 0 15px;
  transition: 400ms ease-in;
}

button:hover {
  background-color: #fff;
}

.btn {
  font-family: 'Press Start 2P';
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 50px;
  padding: 25px 50px;
}

p {
  font-size: 2rem;
  margin-top: 25px;
}

p.question {
  padding-left: 25px;
}

.flip {
  transform: rotate(180deg);
}

.reactions {
  display: flex;
  margin-top: 50px;
}

.question,
.answer {
  width: 50%;
}

.answer {
  float: right;
}

.icon-left {
  float: left;
  position: relative;
  right: 25px;
}

.icon-right {
  float: right;
}

.trending {
  margin-top: 50px;
  text-align: center;
}

.is-medium,
.is-small {
  display: none;
}

.star {
  display: inline-block;
}

.is-large {
  display: inline-block;
}

/* MEDIA QUERIES */

@media screen and (max-width: 850px) {
  .question,
  .answer {
    width: 75%;
  }

  .reactions {
    width: 100%;
    justify-content: center;
  }

  .is-large {
    display: none;
  }

  .is-medium {
    display: inline-block;
  }
  
  .github {
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  } 

  .question,
  .answer {
    width: 95%;
  }

  .btn {
    padding: 20px 40px;
  }

  .-right {
    margin-top: 25px;
  }
}